/* large */
@media (min-width: 992px) and (max-width: 1200px) {
    body {
        background-color: rgb(128, 11, 0);
    }
}

/* x-large */
@media(mix-width: 1200px) and (max-width: 1400px) {
    body {
        background-color: rgb(207, 101, 69);
    }
}

/* xx-large */
@media (min-width: 1400px) {
    body {
        background-color: rgb(116, 90, 141);
        
    }
}
 /* medium, small, x-small */
@media (max-width: 992px) {
    body {
        background-color: rgb(150, 238, 209);
    }
}